* { 
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#tools {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #c9c9c9;
  display: flex;
  align-items: center;
  padding: 0 7px;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.3s;
}

#tools.hidden {
  opacity: 0;
}

#tools:hover {
  opacity: 1;
}

.colour {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #b1b1b1;
  margin-left: 7px;
  cursor: pointer;
}

.colour:first-child { margin: 0; }

#red { background-color: #ff0000; }

#blue { background-color: #0000ff; }

#yellow { background-color: #ffff00; }

#lblColour {
  width: 20px;
  height: 20px;
  margin-left: 7px;
  cursor: pointer;
  border-radius: 50%;
  background-color: black;
  position: relative;
}

#lblColour::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 22px;
  border-radius: inherit;
  border: 1px solid #b1b1b1;
}

#lblColour input { display: none; }

.dropdown {
  margin-left: 20px;
  overflow: hidden;
}

.dropdown .dropdown-btn {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  padding-left: 7px;
  padding-right: 7px;
  height: 50px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
}

.dropdown .dropdown-btn svg { margin-right: 7px; }

.dropdown .dropdown-btn:hover,
.dropdown-content ul li:hover {
  background-color: #4a98f7;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c9c9c9;
  min-width: 130px;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content ul li {
  display: flex;
  align-items: center;
  list-style-type: none;
  cursor: pointer;
  padding: 10px;
}

.dropdown-content ul li.active {
  box-sizing: border-box;
  border-left: 5px solid #4a98f7;
}

.dropdown-content ul li span { padding-left: 7px; }

.dropdown:hover .dropdown-content {
  display: block;
}

.tool {
  margin-left: 7px;
  display: none;
  align-items: center;
}

.icon { display: inline-block; }

.slider {
  display: inline-block;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 90px;
  height: 5px;
  background-color: white;
  outline: none;
  border-radius: 7px;
  cursor: pointer;
  margin-left: 7px;
}

/* style slider handle in Chrome, Opera, Safari, Edge and Mozilla */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4a98f7;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #4a98f7;
  border-radius: 50%;
}

#eraserSizeSlider { width: 100px; }

.sliderValue { margin-left: 7px; }

#thicknessDisplay {
  margin-left: 7px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
}

#eraserSizeDisplay {
  margin-left: 7px;
  width: 5px; /* 1/4 of eraser size because tool bar height is 50px but eraser can reach 100px */
  height: 5px;
  border: 1px solid #b1b1b1;
  background-color: white;
  display: inline-block;
}

.shape-fill {
  cursor: pointer;
  display: none;
  align-items: center;
  margin-left: 7px;
}

.shape-fill input {
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid black;
  margin-right: 3px;
}

.visible { display: flex; }

#clear, #clear:hover {
  margin-left: 30px;
  outline: none;
  background-color: #4a98f7;
  color: black;
  border: none;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s;
}

#clear:hover {
  background-color: inherit;
  border: 1px solid #4a98f7;
}

#eraserCursor {
  position: fixed;
  width: 50px;
  height: 50px;
  border: 1.5px solid #b1b1b1;
  background-color: white;
  pointer-events: none;
  display: none;
}